.KnownDevices
  table
    width: 100%

    th
      text-align: left
      font-size: 0.9em

.KnownDeviceRow
  &:hover
    background-color: #eee

  td
    padding: 10px 5px

  .device_name
    font-weight: 700

  .mac_address, .ip, .disconnected_at
    font-size: 0.8em
    color: #888

  .connected_at
    .icon:not(:first-child)
      margin-left: 10px

  .delete
    border-radius: 0
    border: none
    padding: 1px 5px
    background: none