.Window
  margin-bottom: 25px

.ip
  font-size: 0.5em
  font-style: italic
  font-weight: normal
  opacity: 0.6
  float: right

.WindowStatus
  margin-bottom: 10px
  text-align: center

  .status
    display: inline-block
    margin-right: 10px
    text-transform: uppercase
    font-size: 0.8em
    font-weight: bold
    background-color: #0004
    border-radius: 10px
    color: #fffd
    padding: 3px 10px

.controls
  display: flex
  flex-direction: row
  gap: 10px

.WindowControl
  flex: 1
  padding: 15px 20px
