.DownloadStats
  display: inline-block

  .DownloadStatRepositoryRow
    .repository
      cursor: pointer
      font-size: 2em
      padding: 10px 0

      i
        vertical-align: middle
        transition: all 0.2s

    .DownloadStatAssetRow
      padding: 2px 0 2px 25px
      margin-bottom: 4px
      border-radius: 20px

      & > div
        display: inline-block

      &:not(.header):hover
        background-color: #444

      .DownloadStatAssetNameHeader, .DownloadStatSummaryHeader
        font-weight: bold
        font-size: 0.8em
        padding-left: 15px
        color: #b7b7b7

      .name, .DownloadStatAssetNameHeader
        display: inline-block
        min-width: 300px

      .name
        font-weight: 300
        color: #eee

      .DownloadStatSummary > div, .DownloadStatSummaryHeader
        display: inline-block
        min-width: 80px
        text-align: right

      .DownloadStatSummary
        text-align: center

        & > div

          & > span
            display: inline-block
            padding: 2px 8px
            border-radius: 15px
            color: #444

        i.icon.loading
          margin: 0 auto
          height: 1.1em
          color: #999999

        .daily span
          background-color: #8ffd8f

        .weekly span
          background-color: #FDF88F

        .monthly span
          background-color: #FD8F8F

        .unknown span
          padding-right: 10px
          color: inherit

      .DownloadStatsGraph
        margin-left: 25px
        margin-right: 20px

        canvas
          vertical-align: middle

.theme-light
  .DownloadStats .DownloadStatRepositoryRow .DownloadStatAssetRow
    &:not(.header):hover
      background-color: #ececec

    .name
      color: inherit