.CronJobs
  .CronJobsTable
    i.icon.loading
      margin: 0 auto
      display: block

  .form-group
    display: flex
    align-items: center
    padding: 8px 5px
    text-align: right
    margin-right: 11px

    & > label
      width: 156px
      display: inline-block
      font-weight: bold
      text-align: right
      margin-right: 8px

    & > input[type='text']
      min-width: 300px
      display: inline-block

    & > textarea
      min-width: 300px
      min-height: 100px
      display: inline-block

  .form-weekdays
    display: inline-block
    text-align: left

    & > label
      display: block

  button[type='submit']
    min-width: 150px

  .weekdays-first-letter-list
    white-space: nowrap

    & > span
      width: 16px
      display: inline-block
      font-size: 9pt
      text-align: center
      height: 13pt
      vertical-align: bottom
      padding: 0px 2px

  .CronJobsRow
    td
      padding: 11px 20px

    &.disabled
      &:after
        position: absolute
        left: 0
        top: 50%
        height: 1px
        background: #858588
        content: ""
        width: 100%
        display: block

      td
        opacity: 0.5


  .cronjob-actions
    white-space: nowrap

    a
      padding: 3px 4px

.theme-light
  .weekdays-first-letter-list > span:hover
    background-color: #dedede

  .CronJobsRow:hover
    background-color: #c9c9c9

.theme-dark
  .weekdays-first-letter-list > span:hover
    background-color: #222223

  .CronJobsRow:hover
    background-color: #2c2c2e