#usage-table
  margin-top: 10px

  thead
    border-bottom: 1px solid #0002

  td
    padding: 3px 10px
    text-align: center

    &:nth-child(2)
      background-color: #fff4

.AbsoluteReadingForm
  form
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start
    gap: 10px

    label
      span
        display: inline-block
        min-width: 100px

.AbsoluteReadings
  .year
    & > .title
      font-size: 1.2em
      opacity: 0.3
      font-weight: bold

  .month
    padding-left: 10px

    & > .title
      font-weight: bold

  .reading
    padding-left: 10px

    &.deleted
      opacity: 0.3

    div
      display: inline-block

    .timestamp
      width: 80px
      font-size: 0.9em
      opacity: 0.5

    .value > span
      &:first-child
        display: inline-block
        font-family: 'Courier New', monospace
        text-align: right
        width: 55px

      &:nth-child(2)
        font-size: 0.8em
        opacity: 0.9

    .delete
      border-radius: 0
      border: none
      padding: 1px 5px
      background: none
      margin-left: 10px