@import "variables"

.App
  height: 100%

  .sidebar-wrapper
    margin: 0
    padding: 0
    height: 100%
    overflow-y: hidden

    .sidebar-opener
      z-index: 100
      position: fixed
      top: 0
      left: 0
      border-radius: 0
      opacity: 0.5
      padding: 15px 18px
      background-color: #27292a
      color: #fff
      text-shadow: none
      border: none

      &:hover
        opacity: 1

      i
        margin: 0
        font-size: 1.6em

    .sidebar.menu
      .item span
        text-transform: uppercase
        font-size: 0.8em

      .title.item span
        font-weight: 800

    .pusher
      height: 100%

      & > .content
        padding: 25px
        height: 100%
        overflow: auto

.theme-light
  background-color: $background-color
  color: $text-color

  a
    color: #de0388

.theme-dark
  background-color: #222223
  color: #858588

  a
    color: #ff059d

.actions
  .delete
    background: none
    border-radius: 8px
    color: #888
    border: 1px solid #888
    float: left

    &:hover
      background: none
      color: darkred
      border-color: #902222