body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  position: relative;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

a {
  cursor: pointer;
}

a.a-symbol {
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

.theme-dark input, .theme-dark textarea, .theme-dark button {
  background-color: #b38fa5;
  border-radius: 2px;
}

hr {
  border-top: 0;
}

.template {
  display: none;
}

input[type="email"], input[type="password"], input[type="search"], input[type="text"] {
  appearance: auto;
}

[type="checkbox"], [type="radio"] {
  margin: auto 5px;
  vertical-align: middle;
}

.display-none {
  display: none;
}