.CurrentStats
  margin-bottom: 30px

  h1
    color: #666
    font-size: 7em
    font-weight: 100

    small
      color: #999
      font-weight: 400
      font-size: 0.6em

.Chart
  margin-bottom: 50px
  min-height: 400px

  .actions
    text-align: center
    margin-top: 30px

    label
      margin-right: 10px