.CurrentTemperature
  margin-bottom: 30px

  h1
    color: #666
    font-size: 7em
    font-weight: 100

    small
      color: #999
      font-weight: 400
      font-size: 0.6em

.TemperatureChart
  margin-bottom: 50px
  min-height: 400px

  .actions
    text-align: center
    margin-top: 30px

    label
      margin-right: 10px

.TemperatureList
  max-width: 430px

  table
    width: 100%

  & > .actions
    width: 100%
    display: flex
    justify-content: center
    margin: 10px 0 30px

    button
      min-width: 80%

.TemperatureRow
  &:hover
    background-color: #eee

  td
    padding: 10px 5px

  .temperature
    width: 100%
    text-align: center

    .reading
      font-weight: 700

  .date
    font-size: 0.8em
    color: #888
    min-width: 60px

  .time
    text-align: center
    min-width: 75px

  .delete
    border-radius: 0
    border: none
    padding: 1px 5px
    background: none